<div class="content-page">
  <h1>Examples</h1>

  <h2>Static Content</h2>
  <p appEllipsis>Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit
    amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing
    elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy
    nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt
    ut.
  </p>

  <p appEllipsis dotdotdot="***">Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit
    amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing
    elit sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy
    nibh euismod tincidunt ut. Lorem ipsum dolor sit amet consectetur adipiscing elit sed diam nonummy nibh euismod tincidunt
    ut.
  </p>

  <h2>Content Binding</h2>
  <p appEllipsis>{{ textContent }}</p>

  <h2>inneHTML Binding</h2>
  <p appEllipsis [innerHTML]="htmlContent"></p>
</div>
